body {
	background-image: url("../images/amtrak.png");
}

.container {
	height: auto;
	width: 100%;
}

.jumbotron {
	opacity: 0.7;
}

.panel {
	opacity: 0.7;
}

.panel > .panel-heading {
    background-color: black;
    color: white;
}

#addTrainBtn {
    background-color: black;
    color: white;
    border: none;
}